:root {
  --fs-xl: clamp(3.5, 12vw + 1rem, 12rem);
  --fs-600: 2rem;
  --fs-section: clamp(1rem, 3vw, 3rem);
  --fs-body: 1rem;

  --clr-header: rgb(19, 19, 19);
  --clr-border: rgb(238, 223, 137);
  --clr-text: rgb(229, 219, 219);
  --ff-heading: Apple Chancery, cursive;
  --ff-body: ;
}

body {
  background-color: lightgray;
}

header h1 {
  padding: 1rem;
  font-size: clamp(2rem, 5vw, 3.5rem);
}

header img {
  max-width: 125px;
  display: block;
  border-radius: 50%;
  margin: auto;
}

header a {
  color: rgb(221, 229, 219);
  text-decoration: none;
  padding: 0.75rem;
  line-height: 0.75rem;
  font-family: var(--ff-heading);
  font-size: clamp(1rem, 2vw, 1.5rem);
}

header nav {
  margin-top: 15px;
}

header a:hover {
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem #888888;
  border-radius: 30%;
  background-color: rgb(5, 25, 30);
}

header a:active {
  font-style: italic;
}

header a:visited {
  color: var(--clr-border);
  border-radius: 5%;
}

.header {
  background-color: var(--clr-header);
  color: var(--clr-text);
  font-family: Apple Chancery, cursive;
  text-align: center;
  padding: 1rem;
  line-height: 1.5;
  border-bottom: 1px solid gold;
}

.j-style {
  font-family: Snell Roundhand, cursive;
  color: rgb(158, 142, 142);
}

.head-banner {
  background-image: url("../images/Card22.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  filter: grayscale(80%);
  height: 150px;
  width: 100%;
  position: relative;
  z-index: -1;
}

.section-title {
  background-color: rgb(103, 122, 121);
  padding: 1rem;
  border: 0.15rem solid rgb(238, 223, 137);
  max-width: 7rem;
  border-radius: 2rem;
  margin: 1rem auto 1rem;
  text-align: center;
  color: white;
  font-family: Apple Chancery, cursive, sans-serif;
  line-height: 3rem;
  font-size: var(--fs-section);
  margin: auto;
}

.positioning-main {
  position: relative;
}

.positioning-main h4 {
  position: absolute;
  left: 20%;
  top: 40%;
  z-index: 1;
  color: white;
}


.positioning-main p {
  position: absolute;
  left: 20%;
  top: 60%;
  z-index: 1;
  color: white;
}


.first-box {
  filter: grayscale(80%);
  background-image: url("../images/Card22.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  width: 100%;
  margin: auto;
  display: block;
  border-radius: 10%;
}

.first-box:hover {
  box-shadow: 5px 5px 5px 5px black;
  border-radius: 50px;
  filter: grayscale(0%);
}

#bio-positioning {
  width: 80%;
  background-color: rgb(229, 219, 219);
  padding: 1rem;
  border: 0.2rem solid lightpink;
  border-radius: 2rem;
  font-size: clamp(0.72rem, 1.25vw, 4rem);
  margin: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1;
  margin: auto;
}

.box-link {
  filter: grayscale(80%);
  background-image: url("../images/Card22.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 12.5rem;
  width: 25rem;
  max-width: 75%;
  z-index: 1;
  margin: auto;
  display: block;
  border-radius: 10%;
  position: relative;
}

footer {
  background-color: rgb(19, 19, 19);
  padding: 40px;
}

footer nav {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

footer a {
  text-decoration: none;
  color: white;
  border: 2px solid rgb(238, 223, 137);
  background-color: black;
  transition: background-color 3s;
  font-family: Apple Chancery, cursive;
  text-align: center;
  padding: 0.75rem;
  border-radius: 30%;
}

footer a:hover {
  box-shadow: 2px 2px 2px 2px #888888;
  border-radius: 30px;
  background-color: #837d7d;
}

footer a:active {
  font-style: italic;
}

footer a:visited {
  color: rgb(238, 223, 137);
  border-radius: 5px;
}

#contact-me {
  margin: auto;
  border: 3px solid lightpink;
  border-radius: 30px;
  background-color: rgb(229, 219, 219);
  text-align: center;
}

@media screen and (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .two-column {
    display: flex;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  #work-width {
    max-width: 33%;
  }

  @media screen and (min-width: 1024px) {
  }
}
