body {
  background-color: rgb(229, 219, 219);
}

header img {
  width: 100px;
  border-radius: 100px;
}

header a {
  color: rgb(221, 229, 219);
  text-decoration: none;
  padding: 15px;
  font-size: 30px;
  font-family: Apple Chancery, cursive;
}

header a:hover {
  box-shadow: 5px 5px 5px 5px #888888;
  border-radius: 30px;
  background-color: #1e1d1d;
}

header a:active {
  font-style: italic;
}

header a:visited {
  color: rgb(238, 223, 137);
  border-radius: 5px;
}

h1 {
  color: rgb(229, 219, 219);
  padding: 20px;
  font-size: 45px;
  font-family: Apple Chancery, cursive;
  letter-spacing: 4px;
}

.j-style {
  font-family: Snell Roundhand, cursive;
  font-size: 50px;
  color: rgb(158, 142, 142);
}

/* main {
  display: flex; 
} */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}

.chicagoPic {
  background-image: url("../images/Card22.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90%;
  filter: grayscale(80%);
  height: 500px;
  width: 100%;
  z-index: -1;
  top: 20px;
  position: relative;
  display: block;
}

.background-change {
  background-image: linear-gradient(rgb(71, 60, 69), rgb(129, 93, 99));
  z-index: -1; 
}


/* .box-background {
  position: relative;
} */

/* 
.box-positioning {
  display: block;
  margin-left: auto;
  margin-right: auto;
}  */
#about-me {
  position: relative;
  top: 325px;
  left: 350px;
  background-color: rgb(229, 219, 219);
  padding: 20px;
  width: 100px;
  border: 3px solid lightpink;
  border-radius: 30px;
  font-size: 40px;
}

#bio-positioning {
  position: absolute;
  flex-wrap: wrap;
  top: 425px;
  left: 500px;
  width: 50%;
  background-color: rgb(229, 219, 219);
  padding: 20px;
  border: 3px solid lightpink;
  border-radius: 30px;
  margin: auto;
  font-size: 25px;
  z-index: -1;
}

#first-box {
  max-width: 800px;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#first-box:hover{
 box-shadow: 5px 5px 5px 5px rgb(229, 219, 219);
}


#myWork {
  display: block;
  margin: 60px;
  font-size: 50px;
  display: inline-block;
  border:  3px solid lightpink;
  padding: 50px;
  border-radius: 30px;
  background-color: rgb(229, 219, 219);
}

.myWork-positioning {
  justify-content: end;
  display: flex;
  margin: 90px;
  position: relative;
  top: 80px;
  left: -200px;
  
}

.box-link {
  max-width: 250px;
}

/* .box-positioning {
  display: block;
  margin-left: auto;
  margin-right: auto;
}  */
