body {
  background-color: rgb(229, 219, 219);
}

header img {
  width: 100px;
  border-radius: 100px;
}

header a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

header a:hover {
}

header a:active {
}

header a:visited {
}

h1 {
  color: white;
  padding: 20px;
}

/* main {
  display: flex; 
} */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}

.chicagoPic {
  background-image: url("../images/chicagoSkyline.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  filter: grayscale(80%);
  height: 500px;
  width: 100%;
  z-index: -1;
  top: 20px;
  position: relative;
  background-attachment: scroll;
  display: block;
}

.box-background {
  position: relative;
}
.box-link {
  max-width: 225px;
}

.box-positioning {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about-me {
  position: absolute;
  top: 150px;
  left: 500px;
  background-color: rgb(229, 219, 219);
  /* width: 100%; */
  padding: 20px;
}

#bio-positioning {
  position: absolute;
  flex-wrap: wrap;
  top: 415px;
  left: 300px;
  width: 50%;
  background-color: rgb(229, 219, 219);
  padding: 20px;
  border: 3px solid lightpink;
  border-radius: 30px;
  margin: auto;
}

#first-box {
  max-width: 450px;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#myWork {
  display: block;
  margin: 50px;
}

.box-positioning {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
